.weather-container {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box;
}

.weather-container__navigation {
	min-width: 40px;
	cursor: pointer;
	position: relative;
}

.weather-container__navigation::after {
	content: '';
	position: absolute;
	border: 30px solid transparent;
	border-left: 15px solid transparent;
	border-right: 15px solid #343434;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 0;
	height: 0;
	margin: auto;
	transition-duration: 0.5s;
}

.weather-container__navigation:hover::after {
	transform: scale(1.2);
}

.weather-container__navigation_scroll_forward::after {
	border-left-color: #343434;
	border-right-color: transparent;
}

.weather-container__navigation_disabled {
	pointer-events: none;
	cursor: auto;
}

.weather-container__navigation_disabled::after {
	opacity: 0.3;
}
